:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.card{
  border: solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.card .card-image{
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.student{
  border: solid grey 1px;
  border-radius: 5px;
  
}
.counter-container{
  text-align: center;
  border: solid grey;
  padding: 5px;
  border-radius: 10px;
}
.counter-display{
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button{
  background-color: rgb(109, 126, 202);
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.counter-button:hover{
  background-color: rgb(91, 128, 157);
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid grey;
}
.color-picker-display{
  width: 300px;
  height: 300px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: 0.25s ease;
}
.color-picker-display p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
.to-do-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid grey;
  border-radius: 5px;
  height: 400px;
  background: linear-gradient(to right,black,rgb(163, 9, 9));
}
.add-button{
  border-radius: 10px;
  border: none;
  background-color: rgb(163, 163, 221);
  margin-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 70px;
  height: 20px;
  cursor: pointer;
}
.add-button:hover{
  background-color: rgb(114, 114, 194);
}
.delete-button{
  border-radius: 10px;
  border: none;
  background-color:  rgb(163, 163, 221);
  margin-left: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 70px;
  height: 20px;
  cursor: pointer;

}
.move-button{
  border-radius: 10px;
  border: none;
  background-color:  rgb(163, 163, 221);
  margin: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 70px;
  height: 20px;
  cursor: pointer;

}

.delete-button:hover{
  background-color: rgb(114, 114, 194);
}
.clock-container{
  border: solid lightblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 340px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}